
/* .dashboardHeader{
  height: 16vh;
}

.dashboardBody{
  height: 84vh;
}
.salesCustomers{
  height: 18vh;
}
.marketingSummary{
  height: 64vh;
}

.piechartCard{
  height: 30vh;
} */

.iphone-logo{
  height: 40px;
  width:40px;
}